<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom & Prénom
                </th>
                <th>
                  Téléphone
                </th>
                <th>
                  Montant
                </th>
                <th>
                  Date
                </th>
                <th>
                  Heure
                </th>
              </thead>
              <tbody>
                <tr>
                    <td>
                        Kuela Abdoul Raof
                    </td>
                    <td>
                        65795700
                    </td>
                    <td>
                        50000 FCFA
                    </td>
                    <td>
                        15/05/2021
                    </td>
                    <th>
                      10H30
                    </th>
                </tr>

                <tr>
                    <td>
                        Toé Abdoulaye
                    </td>
                    <td>
                        77182121
                    </td>
                    <td>
                        50000 FCFA
                    </td>
                    <td>
                        16/05/2021
                    </td>
                    <th>
                      14H30
                    </th>
                </tr>

                <tr>
                    <td>
                        Nikiema Ibrahim
                    </td>
                    <td>
                        62665455
                    </td>
                    <td>
                        50000 FCFA
                    </td>
                    <td>
                        17/05/2021
                    </td>
                    <th>
                      18H30
                    </th>
                </tr>

                <tr>
                    <td>
                        Kiemdé Mohamed
                    </td>
                    <td>
                        60211213
                    </td>
                    <td>
                        50000 FCFA
                    </td>
                    <td>
                        18/05/2021
                    </td>
                    <th>
                      10H00
                    </th>
                </tr>

                <tr>
                    <td>
                        Ouedraogo Ange
                    </td>
                    <td>
                        75181820
                    </td>
                    <td>
                        50000 FCFA
                    </td>
                    <td>
                        19/05/2021
                    </td>
                    <th>
                      11H00
                    </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  